.rbc-header{
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    background-color: #17405d;
}
.rbc-allday-cell{
    display: none;
}
.rbc-time-header-cell .rbc-today{
    background-color: green;
}
.rbc-row-bg{
    background-color:white;
}
.rbc-btn-group{
    background-color: #A1CCD1; 
    color: black;
    border: none; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 18px; 
    cursor: pointer; 
    border-radius: 7px;
}

.rbc-time-slot:not(.rbc-today .rbc-time-slot){
    background-color: #eff4f7;
}
.rbc-toolbar-label{
    font-size: 25px;
    background-color: cadetblue;
}
.rbc-btn-group{
}
.HeaderModal{
    position: relative;
    left: 300px;
    font-size: 30px;
    top: 30px;
}
.Logout{
    position: relative;
    left: 93%;
    top: 20px;


    background-color: red; 
    color: black;
    border: none; 
    padding: 5px 10px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
}
.HelloHeader h2{
    display: inline;
}
.HelloHeader{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.HeadLine{
    position: relative;
    left: 40%;
}

.event-form label{
    margin-bottom: 10px;
    display: block;
}
.rbc-row-bg{
    z-index:1;
}
.add-event-button{
    background-color: #4CAF50; 
    color: white;
    border: none; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 10px 2px; 
    cursor: pointer; 
    border-radius: 5px;
}
.background{
    position: absolute;
    top: -150px;
    left: 0;
    width: 100%;
    height:min-content;
    z-index: -1;
    overflow-y: hidden;
    max-height: 200%;
    
}
